@font-face {
    font-family: "OpenSans-Regular";
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}